#Ignore following file starting with "." like .classpath etc
.metadata
.settings
.classpath
.project

#Ignore log folder,bin folder,target and test-output folder and log4j.xml
log
target
test-output
bin
log4j.xml