<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration debug="true" xmlns:log4j="http://jakarta.apache.org/log4j/">    
	
	<appender class="org.apache.log4j.RollingFileAppender" name="infoFileLog">
        <param name="File" value="log/logs/Sun_May_18_00_56_37_IST_2014/infoLogs/LogFile_Adactin Test Suite_Sun_May_18_00_56_38_IST_2014.csv"/>
		<param name="Threshold" value="info"/>  
           <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss},%-5p,[%c{1}],%m%n"/>
        </layout>
    </appender>      

	
	<appender class="org.apache.log4j.RollingFileAppender" name="detailedFileLog">
        <param name="File" value="log/logs/Sun_May_18_00_56_37_IST_2014/detailedLogs/LogFile_Adactin Test Suite_Sun_May_18_00_56_38_IST_2014.csv"/>
		<param name="Threshold" value="debug"/>
           <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss},%-5p,[%c{1}],%m%n"/>
        </layout>
    </appender>
    
    <root>
        <priority value="debug"/>
        <appender-ref ref="infoFileLog"/>	
		<appender-ref ref="detailedFileLog"/>		
    </root>
	
</log4j:configuration>
