<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Adactin Test Suite">

	<test name="HomePageTest" parallel="methods" thread-count="3">

		<parameter name="browserName" value="chrome"/>
		<parameter name="platform" value="windows"/>
		<classes>
			<class name="com.home.application.adactin.tests.HomePageTest"></class>
		</classes>
	</test>

</suite>
 

